body {
  font-family: Palatino;
}

.form-wraper{
  display: grid;
}

#new-search-form{
  background-color: #F9B93F;
  padding: 10px;
}

.form-item{
  padding: 5px;
}

.row{
  display: flex;
}

#result-list{
  display: flex;
  /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-rows: 50px 50px; */
}

.result-box{
  border: solid 3px #F9B93F;
  margin: 10px;
  border-radius: 10px;
  background-color: #DFE5DD;
  padding: 5px;
  /* width: 200px; */
}
